<div class="adb-wrapper">
  <div class="adb-scroller">
      <table class="adb-table">
          <thead>
              <tr>
                  <th rowspan="2" colspan="2" class="sticky-row">
                      <div class="account-name">
                          <p>Account Name | Solution</p>
                          <span>ARR | Market Area | Predictive Adj. GZ</span>
                      </div>
                  </th>
                  <th rowspan="1" colspan="2" scope="col"> <span>Onboarding & Provisioning  (1)</span> <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2"> <span>Implementation (1) </span><i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2"> <span>Adoption (1)</span> <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2"> <span>Value Realization (1)</span> <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2"> <span>Renewal (1)</span> <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2"> <span>Up Sell/ Cross Cell (1)</span> <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="7"> <span>Customer Support (1)</span> <i class="fa fa-chevron-down"></i></th>
              </tr>
              <tr>
                  <th rowspan="1" colspan="2" class="sub-header"> Contract Start Date </th>
                  <th rowspan="1" colspan="2" class="sub-header"> Consulting Utilization </th>
                  <th rowspan="1" colspan="2" class="sub-header"> Training Utilization </th>
                  <th rowspan="1" colspan="2" class="sub-header">NPS</th>
                  <th rowspan="1" colspan="2" class="sub-header">Service End Date</th>
                  <th rowspan="1" colspan="2" class="sub-header">Ready For Cross Sell</th>
                  <th rowspan="1" colspan="2" class="sub-header"> # Of Open Tickets</th>
                  <th rowspan="1" colspan="1" class="sub-header">Open Cases Ageing(Days)</th>
                  <th rowspan="1" colspan="1" class="sub-header">Average Resolution Days</th>
                  <th rowspan="1" colspan="1" class="sub-header"> # Of Closed Tickets</th>
                  <th rowspan="1" colspan="1" class="sub-header">Crit Sit</th>
                  <th rowspan="1" colspan="1" class="sub-header">CSAT(%)</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td colspan="2" class="sticky-row first-row" style="display: flex; padding:18px">
                      <div class="product-data">
                          <span><a href="#">Nike Inc</a></span>
                          <span>$1.2M | Brazil | <i class="fa fa-circle"></i></span>

                      </div>
                      <div class="product-details">
                          <span>SBR</span>
                          <span>2/2</span>
                      </div>
                      <div class="product-details">
                          <span>MSP</span>
                          <span>-/1</span>
                      </div>
                      <div class="product-details">
                          <span>DxA</span>
                          <span>1/1</span>
                      </div>
                      <div class="product-details">
                          <span>VS</span>
                          <span>1/1</span>
                      </div>
                      <div class="product-details">
                          <i class="fa fa-bell"></i>
                      </div>
                      <div class="product-details">
                          <span><i class="fa fa-heart"></i> <a href="#" style="padding-left: 5px;">Del</a></span>
                      </div>
                      <div class="product-details">
                          <span class="sp">SP</span>
                      </div>
                  </td>
                  <td colspan="3" class="normal-row content-row">
                      <div class="content content-1"><i class="fa fa-bell"></i> <span class="badge ">1</span></div>
                      <div class="content content-2">11/2/2018</div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content content-1"><i class="fa fa-bell"></i></div>
                      <div class="content content-2">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                  aria-valuemin="0" aria-valuemax="100">70%</div>
                          </div>
                      </div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                      <div class="content content-2">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                                  aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>
                      </div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                      <div class="content content-2">8.0</div>

                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                      <div class="content content-2">11/2/2018</div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content content-1"> <i class="fa fa-bell"></i></div>
                      <div class="content content-2">Yes</div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content content-1"> <i class="fa fa-bell"></i></div>
                      <div class="content content-2">10</div>
                  </td>
                  <td colspan="1" class="normal-row content-row">30</td>
                  <td colspan="1" class="normal-row content-row">2</td>
                  <td colspan="1" class="normal-row content-row">2</td>
                  <td colspan="1" class="normal-row content-row">2</td>
                  <td colspan="1" class="normal-row content-row">100%</td>
              </tr>
              <tr>
                <td colspan="2" class="sticky-row first-row" style="display: flex; padding:18px">
                    <div class="product-data">
                        <span><a href="#">Nike Inc</a></span>
                        <span>$1.2M | Brazil | <i class="fa fa-circle"></i></span>

                    </div>
                    <div class="product-details">
                        <span>SBR</span>
                        <span>2/2</span>
                    </div>
                    <div class="product-details">
                        <span>MSP</span>
                        <span>-/1</span>
                    </div>
                    <div class="product-details">
                        <span>DxA</span>
                        <span>1/1</span>
                    </div>
                    <div class="product-details">
                        <span>VS</span>
                        <span>1/1</span>
                    </div>
                    <div class="product-details">
                        <i class="fa fa-bell"></i>
                    </div>
                    <div class="product-details">
                        <span><i class="fa fa-heart"></i> <a href="#" style="padding-left: 5px;">Del</a></span>
                    </div>
                    <div class="product-details">
                        <span class="sp">SP</span>
                    </div>
                </td>
                <td colspan="3" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"></i> <span class="badge ">1</span></div>
                    <div class="content content-2">11/2/2018</div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"></i></div>
                    <div class="content content-2">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                    <div class="content content-2">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                    <div class="content content-2">8.0</div>

                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                    <div class="content content-2">11/2/2018</div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"> <i class="fa fa-bell"></i></div>
                    <div class="content content-2">Yes</div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"> <i class="fa fa-bell"></i></div>
                    <div class="content content-2">10</div>
                </td>
                <td colspan="1" class="normal-row content-row">30</td>
                <td colspan="1" class="normal-row content-row">2</td>
                <td colspan="1" class="normal-row content-row">2</td>
                <td colspan="1" class="normal-row content-row">2</td>
                <td colspan="1" class="normal-row content-row">100%</td>
            </tr>
            <tr>
                <td colspan="2" class="sticky-row first-row" style="display: flex; padding:18px">
                    <div class="product-data">
                        <span><a href="#">Nike Inc</a></span>
                        <span>$1.2M | Brazil | <i class="fa fa-circle"></i></span>

                    </div>
                    <div class="product-details">
                        <span>SBR</span>
                        <span>2/2</span>
                    </div>
                    <div class="product-details">
                        <span>MSP</span>
                        <span>-/1</span>
                    </div>
                    <div class="product-details">
                        <span>DxA</span>
                        <span>1/1</span>
                    </div>
                    <div class="product-details">
                        <span>VS</span>
                        <span>1/1</span>
                    </div>
                    <div class="product-details">
                        <i class="fa fa-bell"></i>
                    </div>
                    <div class="product-details">
                        <span><i class="fa fa-heart"></i> <a href="#" style="padding-left: 5px;">Del</a></span>
                    </div>
                    <div class="product-details">
                        <span class="sp">SP</span>
                    </div>
                </td>
                <td colspan="3" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"></i> <span class="badge ">1</span></div>
                    <div class="content content-2">11/2/2018</div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"></i></div>
                    <div class="content content-2">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                    <div class="content content-2">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                    <div class="content content-2">8.0</div>

                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"><i class="fa fa-bell"> <span class="badge ">1</span></i></div>
                    <div class="content content-2">11/2/2018</div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"> <i class="fa fa-bell"></i></div>
                    <div class="content content-2">Yes</div>
                </td>
                <td colspan="2" class="normal-row content-row">
                    <div class="content content-1"> <i class="fa fa-bell"></i></div>
                    <div class="content content-2">10</div>
                </td>
                <td colspan="1" class="normal-row content-row">30</td>
                <td colspan="1" class="normal-row content-row">2</td>
                <td colspan="1" class="normal-row content-row">2</td>
                <td colspan="1" class="normal-row content-row">2</td>
                <td colspan="1" class="normal-row content-row">100%</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>