<div class="zui-wrapper">
  <div class="zui-scroller">
      <table class="zui-table">
          <thead>
              <tr>
                  <th rowspan="2" colspan="2" class="sticky-row">
                      <div class="account-name">
                          <p>Account Name | Solution</p>
                          <span>ARR | Market Area | Predictive Adj. GZ</span>
                      </div>
                  </th>
                  <th rowspan="1" colspan="2" scope="col">Onboarding & Provisioning(1) <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2">Implementation(1) <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2">Adoption(1) <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2">Value Realization(1) <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2">Renewal(1) <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="2">Up Sell/ Cross Cell(1) <i class="fa fa-chevron-down"></i></th>
                  <th rowspan="1" colspan="7">Customer Support(1) <i class="fa fa-chevron-down"></i></th>
              </tr>
              <tr>
                  <th rowspan="1" colspan="2" class="sub-header"> Contract Start Date </th>
                  <th rowspan="1" colspan="2" class="sub-header"> Consulting Utilization </th>
                  <th rowspan="1" colspan="2" class="sub-header"> Training Utilization </th>
                  <th rowspan="1" colspan="2" class="sub-header">NPS</th>
                  <th rowspan="1" colspan="2" class="sub-header">Service End Date</th>
                  <th rowspan="1" colspan="2" class="sub-header">Ready For Cross Sell</th>
                  <th rowspan="1" colspan="2" class="sub-header"> # Of Open Tickets</th>
                  <th rowspan="1" colspan="1" class="sub-header">Open Cases Ageing(Days)</th>
                  <th rowspan="1" colspan="1" class="sub-header">Average Resolution Days</th>
                  <th rowspan="1" colspan="1" class="sub-header"> # Of Closed Tickets</th>
                  <th rowspan="1" colspan="1" class="sub-header">Crit Sit</th>
                  <th rowspan="1" colspan="1" class="sub-header">CSAT(%)</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td colspan="2" class="sticky-row first-row">
                      <div class="product-data">
                          <span><a href="#">Nike Inc</a></span>
                          <span>$1.2M | Brazil | <i class="fa fa-circle"></i></span>

                      </div>
                      <div>
                          <span>SBB</span>
                          <span>2/2</span>
                      </div>
                      <div>
                          <span>MSP</span>
                          <span>-/1</span>
                      </div>
                      <div>
                          <span>DxA</span>
                          <span>1/1</span>
                      </div>
                      <div>
                          <span>VS</span>
                          <span>1/1</span>
                      </div>
                      <div>
                          <i class="fa fa-bell"></i>
                      </div>
                      <div>
                          <span><i class="fa fa-heart"></i> Del</span>
                      </div>
                      <div>
                          <span class=".sp">SP</span>
                      </div>
                  </td>
                  <td colspan="2" class="normal-row content-row">

                      <div class="content"><i class="fa fa-bell"></i></div>
                      <div class="content">77</div>

                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content"><i class="fa fa-bell"></i></div>
                      <div class="content">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                  aria-valuemin="0" aria-valuemax="100">70%</div>
                          </div>
                      </div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content"><i class="fa fa-bell"></i></div>
                      <div class="content">
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                                  aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>
                      </div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content"><i class="fa fa-bell"></i></div>
                      <div class="content">8.0</div>

                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content"><i class="fa fa-bell"></i></div>
                      <div class="content">11/2/2018</div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content"> <i class="fa fa-bell"></i></div>
                      <div class="content">Yes</div>
                  </td>
                  <td colspan="2" class="normal-row content-row">
                      <div class="content"> <i class="fa fa-bell"></i></div>
                      <div class="content">10</div>
                  </td>
                  <td colspan="1" class="normal-row content-row">30</td>
                  <td colspan="1" class="normal-row content-row">2</td>
                  <td colspan="1" class="normal-row content-row">2</td>
                  <td colspan="1" class="normal-row content-row">2</td>
                  <td colspan="1" class="normal-row content-row">100%</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>